#loader {
    display: block;
    margin: auto 0;
    position: fixed;
    text-align: center;
    width: 90%;
    z-index: 1000;
}
.login_header {
    text-align: right;
    padding-right: 21px;
    width: 100%;
    float: left;
    height: auto;
}
.user_name {
    color: rgb(26, 26, 181);
}
.signed_in_as {
    color: rgb(3, 3, 3) !important;
    padding-right: 4px;
    padding-left: 4px;
}
.profile_table tr {
    border-bottom: 1px solid black;
    /*background-color: #2E2F30;*/
}
.profile_table tr:nth-child(odd){
    background: lightblue;
}

.profile_table tr:nth-child(even){
    background: #dedede;
}

table{
    border-collapse: collapse;
}
.profile-1-depth {
    padding-bottom: 2px;
}
.profile-table-1-depth tr:nth-child(odd){
    background: lightgreen;
}
.profile-table-1-depth tr:nth-child(even){
    background: lightcyan;
}
.profile-1-depth {
    padding-bottom: 6px;
    padding-top: 6px;
    border-bottom: 2px solid red;
}
